.icon-bar {
    background-color: #aaa69d;
    width: 90px;
    display: flex;
    flex-direction: column;
}

.icon-bar a {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #ffb142;
    transition: all 0.3s ease;
}

.active {
    background-color: #474787;
}



.h-icon-bar {
    background-color: aaa69d;
    width: 100%;
    display: flex;
}

.h-icon-bar a {
    text-align: center;
    width: 20%;
    color: white;
    font-size: 36px;
    padding: 20px 0;
}

.h-icon-bar a:hover {
    background-color: #ff793f;
    transition: all 0.3s ease;
}
