* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* flex로 가운데 정렬 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calendar {
    width: 600px;
    margin: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 35px;
}

.nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    /* 여기 높이를 여유롭게 설정 해두면 값이 늘어나도 유연하게 변할 수 있음. */
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

/* 'other' class 할당받은 데이터들 투명도 설정 */
.other {
    opacity: .3;
}

/* border 값을 나눠서 주면 겹치지 않고 나타나게 할 수 있다 */
/* 정렬이 일정하게 필요한 부분은 width: calc(100% / 7); 같은거 잘 이용하면 좋을 것 같다 */

/* :nth-child() 함수형 입력 다시한번 생각 해보기. 잘 쓰고싶다..! */
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: tomato;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: cornflowerblue
}


/* 오늘 날짜를 표시 해주는 부분 */
.today {
    position: relative;
    color: #FFFFFF;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 30px;
    height: 30px;
    background-color: tomato;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}